html, body {
    margin: 0;
    height: 100vh;
    font-family: 'Arsenal';
    background-color: #939393;
    height: 100%;
}

/*
Image has come from this guy here:
https://jonkohlmeier.wordpress.com/2012/02/12/day-37-luthers-seal/
I likely will need to ask him for permission, but for now its not an issue.

Looks like he is an lcms bro: http://jonkohlmeier.net/;
*/

.main{
  background: url('../styles/images/lutherSeal.jpg');
  background-size: 100%;
  position:relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80%;
  margin: auto;
  /*height: 1000px;*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.info{
  position: relative;
  background-color: white;
  opacity: .8;
  width: 50%;
  margin: auto;
  top: 300px;
}

@media only screen and (max-width: 500px) {
  .main {
    background-size: cover;
    width: 100%;
  }
}
